input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 0.5;
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 0.8;
}

select option {
    background-color: #0f172a !important; /* Dark slate background to match our dark theme dropdown option */
    color: #ffffff !important;
    font-family: inherit;
    font-weight: bold;
}
